
/* adding the new font for yumist */
.social-icon{
	moz-transition : all 0.25s;
	webkit-transition : all 0.25s;
	transition : all 0.25s;
	font-size: 20px;
	border-radius: 5px;
}

.social-icon:hover{
	box-shadow: 0px 2px 4px rgba(255,255,255,0.5);
}

.red-foreground{
	background: #FA463E !important;
	color: white !important;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

#screenshot-frame{
	height: 450px;
}

#screenshot-holder{

	height: 354px;
}

.line-spacing-extra{
	line-height: 150%;
}

.animate-slide-in-right{
	/* Additional style for adding slide animation to screenshots */
	animation: slideinright 0.5s ease;
	position: absolute;
	left: 0;
	box-shadow: 0px 0px 25px #000000;
	overflow: hidden;
}

@keyframes slideinright{
	from {left: 100px;}
	to {left: 0px;}
}

/* adding new media queries in SlashG.css for adjusting footer */

.fullheight{
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

.my-footer{
  	height: 90px;
  	overflow: hidden;
	}

.m-t-100 {
    margin-top: 100px;
}


@media (max-width: 480px){
.fs-14 {
    font-size: 10px !important;
}
}

.footer{
text-align:center;
}
.xs-pull-left {
    float: none !important;
}
.p-b-5 {
    padding-bottom: 10px !important;
}

.top8-rel{
position:relative;
top:8px;
}
